@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.summary {
  background: var(--business-bg);
  color: aliceblue;

}

.summary h2 {
  color: #2CC8A0 !important;
}

.counter-up {
  background: var(--business-bg);
  min-height: 30vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  position: relative;
  display: flex;
  align-items: center;

}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--business-bg);
}

.counter-up .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-up .content .box {
  /* border: 1px dashed rgba(255,255,255,0.6); */
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .icon:hover {
  font-size: 48px;
  color: #2CC8A0;
}

.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: #2CC8A0;
  font-family: sans-serif;
}

.content .box .counter:hover {
  font-size: 50px;
  font-weight: 500;
  color: #2CC8A0;
  font-family: sans-serif;
}

.content .box .text {
  font-size: 25px;
  font-weight: 400;
  color: #f2f2f2;
  margin-bottom: 20px;
}

.content .box .text:hover {
  font-size: 25px;
  font-weight: 400;
  color: #2CC8A0;
  margin-bottom: 20px;
}

@media screen and (max-width: 1036px) {
  .counter-up {
    padding: 50px 50px 0 50px;
  }

  .counter-up .content .box {
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 580px) {
  .counter-up .content .box {
    width: 100%;
  }

}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 20px;
  }

  .counter-up {
    padding: 30px 20px 0 20px;
  }

}